.App {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-button {
  margin-top: 25px !important;
}

.card-container {
  height: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:rgb(242, 245, 241);
}

.card {
  height: 250px;
  width: 20vw;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  cursor: pointer;
}
